apiVersion: v1
kind: Pod
metadata:
  name: config-map-demo
spec:
  containers:
  - name: nginx
    image: nginx
    envFrom:
    - configMapRef:
        name: pod-config  # this name whatever we have defined in config-map same needs to be add